@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
.photographer_section img{
    border-radius: 50%;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}
h2{
    margin: 20px 0 10px 0;
    color: #D3573C;
    font-size: 47px;
}
h3{
    margin: 0;
    font-size: 17px;
    color: #901C1C;
}
h4{
    font-size: 13px;
    margin: 5px 0;
    color: #000;
} 
a{
    text-decoration: none;
}
.photographer_section span{
    color: #757575;
    font-size: 12px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article , .photographer_section article a{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}
@media screen and (max-width: 1024px) {
    .photographer_section{
        grid-template-columns: 1fr 1fr;
    }
    header{
        flex-direction: column;
        margin-top: 20px;
    }
    header h1{
        margin-right: 0;
    }
    .logo{
        margin-left: 0;
    }
}
@media screen and (max-width: 768px) {
    .photographer_section{
        grid-template-columns: 1fr;
    }
}